.container {
    display: grid;
    place-items: center;
}

body {
    background-color: antiquewhite;
    
}

.column {
    height: 100px;
    width: 100px;
    border: 2px solid black;

}

.row {
    display: flex;


}