.container {
    display: grid;
    place-items: center;
}

body {
    background-color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.column {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px; 
    cursor: pointer;

}

.row {
    display: flex;


}

.rep{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

button{
    background-color: black;
}
a{
    color: aquamarine;
    text-decoration: none;
}